# Build outputs
/build/
/out/
/tmp/
/.vs/

# Objects and binaries
/**/*.o
/**/*.obj
/**/*.a
/**/*.lib
/**/*.elf
/**/*.map
/**/*.nso
/**/*.nro
/**/*.kip
/**/*.pdb
/**/*.dll

# Python
/.venv/
/**/__pycache__/
*.pyc
*.pyo

# Proprietary dumps (keep folder)
/orig/*
!/orig/.gitkeep
/roms/
/dumps/
/ref/
/ref2/

# Local tools
/tools/*.exe

# Local decomp.dev
/tools/decomp.dev/config.yml
/tools/decomp.dev/db.sqlite
/tools/decomp.dev/jobs.sqlite
/tools/decomp.dev/node_modules/
# Converted executables (keep progress files)
/data/*.nso
/data/*.elf
/data/*.nro
/data/*.kip
/data/*.bin
/data/segments/
/include/macro.inc
/totk.ld
